# Ignore system-specific files
.DS_Store
Thumbs.db

# Documents
ReadMe.docx

# Python cache
__pycache__/
*.pyc

# Project folders
figure/
figure_final/
final_export/
data_export/
final_export_data/
radius_compare_smooth/
radius_compare/
Wanunu_figure/
schematic_figure/
radius_adjustment/

# Ignore logs and images
*.log
*.png